page-productMore {
  .productMore-content{

    .productMore-div {
      position: relative;
      width: 48%;
      margin: 0 1% 0;
      display: inline-block;
      text-align: center;

      .productMore-img{
        background-color: #eee;
        margin: 5px 0 0 0;
        position: relative;
        height: 200px;
      }
      img{
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      span{
        display: block;
        margin-top: 3px;
      }
      p{
        margin: 3px 0 4px 0;
      }
    }

  }

}
