page-aboutXunyi {
  .aboutXunyi-header{
    .back-button>.button-inner{
      color: #222;
    }
  }
  .aboutXunyi-content{
    .about-logo{
      width: 100px;
      margin: 20px auto 5px;
    }
    .version{
      text-align: center;
      font-size: 1.4rem;
      margin: 0 0 20px 0;
    }
    .label{
      font-size: 1.4rem;
    }

  }
}
