page-read{
  .read-header>.toolbar{
    height: 60px;
  }
  .read-header > .toolbar {
    padding-top: 14px;
  }
  .toolbar-ios .segment-ios{
    left: auto;
    width: 90%;
    padding-top: 10px;
  }
  .read-content{
    .art-list{
      // margin: 14px 0 16px 0;

      .art-item{
        padding-left: 0;
        border: none;
        .item-inner{
          border: none;
        }
        ion-col{
          padding: 0;
          height: 110px;
        }
        ion-row{
          margin-top: 5px;
        }
        .message{
          p{
            color: #191919;
            font-size: 1.4rem;
            width: 85%;
            margin: 16px auto 0;
            white-space:normal;
          }
          background-color: #f5f5f5;

          .read-information{
            div{
              display: inline-block;
              margin: 20px 0 0 16px;
            }
            img{
              width: 1.4rem;
            }
            img+img{
              width: 13px;
            }
            span{
              font-size: 1rem;
            }

          }
        }
      }
      .art-item>.item-inner{
        padding-right: 0;
      }
      .art-item>.item-inner>.input-wrapper>.label{
        margin: 0;
      }
      .art-item>.item-inner>.input-wrapper>.label>ion-grid{
        padding: 0;
      }

    }

  }


  .segment-ios{

    .segment-button {
      color: #c7c6c6;
      background-color: transparent;
      border: 0;
      height: 80%;
      position: relative;
      top: 10%;
      border-radius: 0px;
    }
    .segment-button.segment-activated{
      color: #000000;
      background: transparent;
      height: 80%;
      position: relative;
      top: 10%;
      border-radius: 0px;
      // border-bottom: 1px solid;
      span{
        border-bottom: 1.6px solid #000;
      }
    }
  }

  .segment-md{
    .segment-button {
      color: #c7c6c6;
      background-color: #transparent;
      border: 0;
      border-radius: 0px;
    }
    .segment-button.segment-activated{
      color: #000000;
      background: transparent;
      border-radius: 0px;
      // border-bottom: 2px solid;
    }
  }
  .segment{
    .segment-button{
      font-size: 1.6rem;

    }
    span{
      width: 50px;
      height: 100%;
      display: block;
      margin: 0 auto;

    }
  }
}
