<ion-header class="read-header">
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="dark" small (click)="backToHome()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment [(ngModel)]="read_segment" class="segment">
      <ion-segment-button value="art">
        <span>艺术</span>
      </ion-segment-button>
      <ion-segment-button value="design">
        <span>设计</span>
      </ion-segment-button>
      <ion-segment-button value="photography">
        <span>摄影</span>
      </ion-segment-button>
      <ion-segment-button value="life">
        <span>生活</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="read-content">
  <div [ngSwitch]="read_segment">
    <ion-list *ngSwitchCase="'art'" class="art-list">
      <ion-item class="art-item" *ngFor="let art of arts">
        <ion-grid>
          <ion-row>
            <ion-col width-50>
              <img [src]="art.img">
            </ion-col>
            <ion-col width-50 class="message">
              <p [innerHTML]="art.title"></p>
              <div class="read-information">
                <div>
                  <img src="assets/img/label/eyes.png" alt="">
                  <span [innerHTML]="art.reading"></span>
                </div>
                <div>
                  <img src="assets/img/label/messages.png" alt="">
                  <span [innerHTML]="art.comments"></span>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'design'"  class="art-list">
      <ion-item class="art-item" *ngFor="let design of designs">
        <ion-grid>
          <ion-row>
            <ion-col width-50>
              <img [src]="design.img">
            </ion-col>
            <ion-col width-50 class="message">
              <p [innerHTML]="design.title"></p>
              <div class="read-information">
                <div>
                  <img src="assets/img/label/eyes.png" alt="">
                  <span [innerHTML]="design.reading"></span>
                </div>
                <div>
                  <img src="assets/img/label/messages.png" alt="">
                  <span [innerHTML]="design.comments"></span>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'photography'"  class="art-list">
      <ion-item class="art-item" *ngFor="let photography of photographys">
        <ion-grid>
          <ion-row>
            <ion-col width-50>
              <img [src]="photography.img">
            </ion-col>
            <ion-col width-50 class="message">
              <p [innerHTML]="photography.title"></p>
              <div class="read-information">
                <div>
                  <img src="assets/img/label/eyes.png" alt="">
                  <span [innerHTML]="photography.reading"></span>
                </div>
                <div>
                  <img src="assets/img/label/messages.png" alt="">
                  <span [innerHTML]="photography.comments"></span>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'life'" class="art-list">
      <ion-item class="art-item" *ngFor="let life of lifes">
        <ion-grid>
          <ion-row>
            <ion-col width-50>
              <img [src]="life.img">
            </ion-col>
            <ion-col width-50 class="message">
              <p [innerHTML]="life.title"></p>
              <div class="read-information">
                <div>
                  <img src="assets/img/label/eyes.png" alt="">
                  <span [innerHTML]="life.reading"></span>
                </div>
                <div>
                  <img src="assets/img/label/messages.png" alt="">
                  <span [innerHTML]="life.comments"></span>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
