page-setting {
  .setting-header{
    .back-button>.button-inner{
      color: #222;
    }
  }

  .setting-content{



    .logout-button{
      width: 90%;
      height: 3rem;
      font-size: 1.4rem;
      border-radius: 0;
      margin: 10px auto 0;
    }
  }
}
